--
-- PostgreSQL database dump
--

\restrict d2H3hUhPRJ1Z0md7CLaocWQxteypHmKiy3rOzu4s3aQbtechtdyj6ifMGf145Jz

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO valida_ifc;

--
-- Name: audit_results; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.audit_results (
    id character varying NOT NULL,
    audit_run_id character varying NOT NULL,
    criteria_id character varying NOT NULL,
    element_guid character varying(80),
    element_type character varying(120),
    element_name character varying(180),
    status character varying(40) NOT NULL,
    severity character varying(20) NOT NULL,
    message text,
    actual_value text,
    expected_value text,
    weight integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    score_value integer DEFAULT 0 NOT NULL,
    fix_suggestion text,
    is_summary boolean DEFAULT false NOT NULL
);


ALTER TABLE public.audit_results OWNER TO valida_ifc;

--
-- Name: audit_runs; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.audit_runs (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    ifc_file_id character varying NOT NULL,
    criteria_set_id character varying NOT NULL,
    status character varying(60) NOT NULL,
    score_percent double precision,
    score_low double precision,
    score_moderate double precision,
    score_high double precision,
    total_criteria integer NOT NULL,
    approved_criteria integer NOT NULL,
    failed_criteria integer NOT NULL,
    started_at timestamp without time zone,
    finished_at timestamp without time zone,
    created_by character varying,
    queue_job_id character varying(80),
    error_message text
);


ALTER TABLE public.audit_runs OWNER TO valida_ifc;

--
-- Name: audit_snapshots; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.audit_snapshots (
    id character varying NOT NULL,
    audit_run_id character varying NOT NULL,
    token_hash character varying(64) NOT NULL,
    created_by character varying,
    created_at timestamp without time zone NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    revoked_at timestamp without time zone
);


ALTER TABLE public.audit_snapshots OWNER TO valida_ifc;

--
-- Name: criteria; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.criteria (
    id character varying NOT NULL,
    criteria_set_id character varying NOT NULL,
    code character varying(80) NOT NULL,
    name character varying(180) NOT NULL,
    description text,
    category character varying(120),
    severity character varying(20) NOT NULL,
    rule_type character varying(80) NOT NULL,
    entity_ifc character varying(120),
    property_name character varying(120),
    operator character varying(80),
    expected_value text,
    failure_message text,
    fix_suggestion text,
    reference character varying(180),
    active boolean NOT NULL,
    natural_language_source text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.criteria OWNER TO valida_ifc;

--
-- Name: criteria_sets; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.criteria_sets (
    id character varying NOT NULL,
    name character varying(180) NOT NULL,
    description text,
    source_type character varying(60) NOT NULL,
    created_by character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.criteria_sets OWNER TO valida_ifc;

--
-- Name: ifc_files; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.ifc_files (
    id character varying NOT NULL,
    project_id character varying NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    file_size integer NOT NULL,
    ifc_schema character varying(40),
    ifc_version character varying(40),
    uploaded_by character varying,
    uploaded_at timestamp without time zone NOT NULL,
    status character varying(60) NOT NULL,
    metadata_json json
);


ALTER TABLE public.ifc_files OWNER TO valida_ifc;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.projects (
    id character varying NOT NULL,
    name character varying(180) NOT NULL,
    client character varying(180) NOT NULL,
    description text,
    discipline character varying(120),
    phase character varying(120),
    responsible character varying(180),
    status character varying(80) NOT NULL,
    created_by character varying,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.projects OWNER TO valida_ifc;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.reports (
    id character varying NOT NULL,
    audit_run_id character varying NOT NULL,
    file_path character varying(500) NOT NULL,
    format character varying(20) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.reports OWNER TO valida_ifc;

--
-- Name: users; Type: TABLE; Schema: public; Owner: valida_ifc
--

CREATE TABLE public.users (
    id character varying NOT NULL,
    name character varying(160) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(60) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO valida_ifc;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.alembic_version (version_num) FROM stdin;
20260524_0004
\.


--
-- Data for Name: audit_results; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.audit_results (id, audit_run_id, criteria_id, element_guid, element_type, element_name, status, severity, message, actual_value, expected_value, weight, created_at, score_value, fix_suggestion, is_summary) FROM stdin;
\.


--
-- Data for Name: audit_runs; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.audit_runs (id, project_id, ifc_file_id, criteria_set_id, status, score_percent, score_low, score_moderate, score_high, total_criteria, approved_criteria, failed_criteria, started_at, finished_at, created_by, queue_job_id, error_message) FROM stdin;
\.


--
-- Data for Name: audit_snapshots; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.audit_snapshots (id, audit_run_id, token_hash, created_by, created_at, expires_at, revoked_at) FROM stdin;
\.


--
-- Data for Name: criteria; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.criteria (id, criteria_set_id, code, name, description, category, severity, rule_type, entity_ifc, property_name, operator, expected_value, failure_message, fix_suggestion, reference, active, natural_language_source, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: criteria_sets; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.criteria_sets (id, name, description, source_type, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ifc_files; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.ifc_files (id, project_id, file_name, file_path, file_size, ifc_schema, ifc_version, uploaded_by, uploaded_at, status, metadata_json) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.projects (id, name, client, description, discipline, phase, responsible, status, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.reports (id, audit_run_id, file_path, format, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: valida_ifc
--

COPY public.users (id, name, email, password_hash, role, created_at, updated_at) FROM stdin;
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_results audit_results_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_results
    ADD CONSTRAINT audit_results_pkey PRIMARY KEY (id);


--
-- Name: audit_runs audit_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_runs
    ADD CONSTRAINT audit_runs_pkey PRIMARY KEY (id);


--
-- Name: audit_snapshots audit_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_snapshots
    ADD CONSTRAINT audit_snapshots_pkey PRIMARY KEY (id);


--
-- Name: criteria criteria_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.criteria
    ADD CONSTRAINT criteria_pkey PRIMARY KEY (id);


--
-- Name: criteria_sets criteria_sets_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.criteria_sets
    ADD CONSTRAINT criteria_sets_pkey PRIMARY KEY (id);


--
-- Name: ifc_files ifc_files_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.ifc_files
    ADD CONSTRAINT ifc_files_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_results_audit_run_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_audit_results_audit_run_id ON public.audit_results USING btree (audit_run_id);


--
-- Name: ix_audit_results_element_guid; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_audit_results_element_guid ON public.audit_results USING btree (element_guid);


--
-- Name: ix_audit_runs_ifc_file_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_audit_runs_ifc_file_id ON public.audit_runs USING btree (ifc_file_id);


--
-- Name: ix_audit_runs_project_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_audit_runs_project_id ON public.audit_runs USING btree (project_id);


--
-- Name: ix_audit_snapshots_audit_run_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_audit_snapshots_audit_run_id ON public.audit_snapshots USING btree (audit_run_id);


--
-- Name: ix_audit_snapshots_token_hash; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE UNIQUE INDEX ix_audit_snapshots_token_hash ON public.audit_snapshots USING btree (token_hash);


--
-- Name: ix_criteria_code; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_criteria_code ON public.criteria USING btree (code);


--
-- Name: ix_criteria_criteria_set_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_criteria_criteria_set_id ON public.criteria USING btree (criteria_set_id);


--
-- Name: ix_ifc_files_project_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_ifc_files_project_id ON public.ifc_files USING btree (project_id);


--
-- Name: ix_reports_audit_run_id; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE INDEX ix_reports_audit_run_id ON public.reports USING btree (audit_run_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: valida_ifc
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: audit_results audit_results_audit_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_results
    ADD CONSTRAINT audit_results_audit_run_id_fkey FOREIGN KEY (audit_run_id) REFERENCES public.audit_runs(id);


--
-- Name: audit_results audit_results_criteria_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_results
    ADD CONSTRAINT audit_results_criteria_id_fkey FOREIGN KEY (criteria_id) REFERENCES public.criteria(id);


--
-- Name: audit_runs audit_runs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_runs
    ADD CONSTRAINT audit_runs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: audit_runs audit_runs_criteria_set_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_runs
    ADD CONSTRAINT audit_runs_criteria_set_id_fkey FOREIGN KEY (criteria_set_id) REFERENCES public.criteria_sets(id);


--
-- Name: audit_runs audit_runs_ifc_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_runs
    ADD CONSTRAINT audit_runs_ifc_file_id_fkey FOREIGN KEY (ifc_file_id) REFERENCES public.ifc_files(id);


--
-- Name: audit_runs audit_runs_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_runs
    ADD CONSTRAINT audit_runs_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: audit_snapshots audit_snapshots_audit_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_snapshots
    ADD CONSTRAINT audit_snapshots_audit_run_id_fkey FOREIGN KEY (audit_run_id) REFERENCES public.audit_runs(id);


--
-- Name: audit_snapshots audit_snapshots_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.audit_snapshots
    ADD CONSTRAINT audit_snapshots_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: criteria criteria_criteria_set_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.criteria
    ADD CONSTRAINT criteria_criteria_set_id_fkey FOREIGN KEY (criteria_set_id) REFERENCES public.criteria_sets(id);


--
-- Name: criteria_sets criteria_sets_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.criteria_sets
    ADD CONSTRAINT criteria_sets_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: ifc_files ifc_files_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.ifc_files
    ADD CONSTRAINT ifc_files_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: ifc_files ifc_files_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.ifc_files
    ADD CONSTRAINT ifc_files_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id);


--
-- Name: projects projects_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: reports reports_audit_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: valida_ifc
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_audit_run_id_fkey FOREIGN KEY (audit_run_id) REFERENCES public.audit_runs(id);


--
-- PostgreSQL database dump complete
--

\unrestrict d2H3hUhPRJ1Z0md7CLaocWQxteypHmKiy3rOzu4s3aQbtechtdyj6ifMGf145Jz

